<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="album.css" rel="stylesheet">
</head>
<body>
<main role="main">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">POST</h5>
        {!<nav class="my-2 my-md-0 mr-md-3">!}
        {!<a class="p-2 text-dark" href="#">Features</a>!}
        {!<a class="p-2 text-dark" href="#">Enterprise</a>!}
        {!<a class="p-2 text-dark" href="#">Support</a>!}
        {!<a class="p-2 text-dark" href="#">Pricing</a>!}
        {!</nav>!}
        <a class="btn btn-outline-primary mr-2" href="#">Sign in</a>
        <a class="btn btn-outline-primary ml-1" href="#">Sign up</a>
    </div>

    <div class="container">
        <div class="blog-post">
            <h2 class="blog-post-title">{title}</h2>
            <p class="blog-post-meta">{lastModifiedTime} by <a href="#">{author}</a></p>

            <p>{content}</p>
            <hr>
        </div>
    </div>
</main>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.js"></script>

</body>

</html>