<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e7d0b12d4a.js" crossorigin="anonymous"></script>
    <style>
        .icon{
            font-size: 30px;
            margin: 7px 5px;
            padding-left: 5px;
            color: red;
        }
    </style>

</head>
<body>
<main role="main" class="w-100 bg-light">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">BLOG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li id="backStage" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index#back-stage">返回後台</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/article-list">文章列</a>
                    </li>
                </ul>
            </div>
            <a id="loginBtn" class="btn btn-outline-primary mr-2" href="/login">登入</a>
            <a id="signupBtn" class="btn btn-outline-primary mr-2" href="/signup">註冊</a>
            <a id="logoutBtn" class="btn btn-outline-primary mr-2" href="#" onclick="logout()">登出</a>
        </div>
    </nav>

    <div class="form-signin text-center" style="width: 30%; margin: auto">
        <img src="/assets/img/social-media.png" style="width: 80%; height: 80%; margin-top: 80px">
        <h1 class="h3 mt-2 mb-3 font-weight-normal">建立帳號</h1>

        <div class="input-group" style="width: 85%; margin: auto">
            <label for="inputUserName" class="sr-only">使用者名稱</label>
            <input type="text" id="inputUserName"
                   class="form-control" placeholder="使用者名稱" required autofocus>
            <div class="input-group-append">
                <i class="far fa-times-circle icon" id="msgIcon" style="display: none"></i>
            </div>
        </div>
        <div style="color: red; line-height: 25px; height: 25px"  id="errMsg"></div>
        <label for="inputPassword" class="sr-only">密碼</label>
        <input type="password" id="inputPassword" class="form-control mb-3" style="width: 85%; margin: auto" placeholder="密碼" required>

        <button class="btn btn-lg btn-primary btn-block" style="width: 85%; margin: auto" onclick="signUp()">註冊</button>

        <button class="btn btn-lg btn-primary btn-block mt-4" style="width: 85%; margin: auto">
            <a href="/login" style="color: white; text-decoration: none; ">登入</a>
        </button>
    </div>

</main>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    if(document.cookie.indexOf('quarkus-credential') === 0){
        document.getElementById('loginBtn').style.display = 'none'
    }else {
        document.getElementById('logoutBtn').style.display = 'none'
        document.getElementById('backStage').style.display = 'none'
    }

    function logout() {
        fetch('/api/user/logout')
            .then(res => {
                if(res.ok) window.location.href = '/login'
            })
    }

    function signUp() {
        document.getElementById('msgIcon').style.display = 'none'
        document.getElementById('errMsg').innerHTML = ''

        console.log('signup')
        let username = document.getElementById('inputUserName').value
        let password = document.getElementById('inputPassword').value

        if(username.trim().length === 0) {
            alert("名稱不能為空");
            return;
        }
        if(password.trim().length === 0) {
            alert("密碼不能為空");
            return
        }
        let data = {
            'username': username,
            'password': password
        }
        fetch('/api/user/signUp',{
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        }).then(res => {
            if(res.ok){
                alert('註冊成功')
                window.location.href = '/login'
            }else{
                document.getElementById('msgIcon').style.display = null
                document.getElementById('errMsg').innerHTML = '此名稱已註冊過'
            }
        })
    }
</script>
</body>

</html>