{#include layout}
{#main}
<main role="main" class="container">
  <h1 class="my-5 text-center">文章列表</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-6 my-1">
      <div class="card">
        <div class="card-body">
          <p>
            <a class="my-5" href="#">類別一</a>
          </p>
          <h5 class="card-title">Test Title 1</h5>
          <p class="card-text">最後修改時間：2022-04-26 12:00:00</p>
          <p class="text-right mb-0">
            <a href="#" >閱讀更多</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 my-1">
      <div class="card">
        <div class="card-body">
          <p>
            <a class="my-5" href="#">類別二</a>
          </p>
          <h5 class="card-title">Test Title 2</h5>
          <p class="card-text">最後修改時間：2022-04-26 12:00:00</p>
          <p class="text-right mb-0">
            <a href="#" >閱讀更多</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav class="my-5">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="page-link" href="#">&laquo; 前一頁</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">後一頁 &raquo;</a></li>
    </ul>
  </nav>
</main>
{/main}
{/include}